spring:
  application:
    name: gateway
  datasource:
    url: jdbc:mysql://localhost:3306/db-payment-service?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
    username: dbadmin
    password: mysql
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

server:
  port: 8080

jwt:
  secret: "mySecretKeymySecretKeymySecretKeymySecretKeymySecretKeymySecretKey"
  expiration: 86400000 # 24 hours
  refresh-expiration: 604800000 # 7 days

app:
  create-admin-user-permitted: false
  admin:
    username: "admin"
    email: "admin@example.com"
    password: "admin123"

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
logging:
  level:
    tech.wgtecnologia.gateway: DEBUG
    org.springframework.security: DEBUG